<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
	<title>Zweikoorn &mdash; {{page.title}}</title>
	<meta name="robots" content="noindex, nofollow" />
	<meta name="description" content="Zweikoorn–Project develops and maintains a set of useful cross–platform frameworks which make coding Objective–C a lot easier and more fun." />
	<meta name="keywords" content="" />
	<meta name="author" content="Samuel Matthias Reis" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="css/screen.css" media="all" type="text/css" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
</head>
<body>
<h1>Zweikoorn &mdash; {{page.title}}</h1>
<div class="main">
<h2>{{page.title}}</h2>
{{content}}
</div>
<ul class="nav">
	<li><a href="/" class="zweikoorn active">Zweikoorn</a></li>
	<li><a href="/releases.html" class="releases">Releases</a></li>
	<li><a href="/docs.html" class="docs">Docs</a></li>
	<li><a href="/credits.html" class="credits">Credits</a></li>
</ul>
</body>
</html>
